@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  @apply border border-black h-10 px-2;
}

input:not(:last-child) {
  @apply border-r-0;
}

button:not(.link) {
  @apply border border-black h-10 px-2 bg-white shadow-md rounded-sm;
}

.hand-card {
  @apply border border-black rounded-md aspect-[3/4] text-center p-2 shadow-md font-serif;
}

.info-card-container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.info-card-face {
  @apply bg-[#eed7b3] overflow-hidden rounded-md shadow-md border border-black;
  -webkit-backface-visibility: hidden;
}

.info-card-face-back {
  @apply flex items-center justify-center absolute inset-0;
  transform: rotateY(180deg);
}
