@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button[type="submit"] {
  @apply bg-white;
}

button {
  @apply border border-black h-10 px-2 bg-white shadow rounded-sm disabled:bg-gray-200 disabled:text-gray-400 disabled:border-gray-200 disabled:shadow-none;
}

.link {
  color: #836e4d;
  @apply border-none h-auto px-0 bg-none shadow-none rounded-none disabled:bg-none;
}

input {
  @apply border border-black h-10 px-2 rounded-sm;
}

input:not(:last-child) {
  @apply border-r-0 rounded-r-none;
}

input + button {
  @apply shadow-none rounded-l-none;
}

.hand-card {
  @apply border border-black rounded-md aspect-[3/4] text-center p-2 shadow-md font-serif;
}

.info-card-container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.info-card-face {
  @apply bg-[#eed7b3] overflow-hidden rounded-md shadow-md border border-black;
  -webkit-backface-visibility: hidden;
}

.info-card-face-back {
  @apply flex items-center justify-center absolute inset-0;
  transform: rotateY(180deg);
}
